<header id="header" class="{{ page.header.header_class }}">
  <h1 id="logo"><a href="{{ base_url_absolute }}">{{ site.logo.text1 }} <span>{{ site.logo.text2 }}</span></a></h1>
  <nav id="nav">



      <ul>
          <!-- <li>
               <a class="dropdown-toggle" href="#">Nuestro Servicio <span class="caret"></span>  </a>
               <ul class="dropdown-menu">
               <li>
               <a href="#">Algo aca</a>
               </li>
               </ul>
               </li> -->

          <!-- <li class="current"><a href="{{ base_url_absolute }}">Principal</a></li>
             -->
      <li class="submenu">
          <a href="">La Empresa</a>
          <ul>
              <li>  <a href="">Quienes somos</a> </li>

              <li>  <a href="">Por qué Netquatro</a> </li>

              <li>  <a href="">Cuentas Globales</a> </li>
          </ul>
      </li>

      <li class="submenu">
          <a href="">Servicios</a>
          <ul>
              <li>  <a href="">Net4Cloud</a> </li>

              <li>  <a href="">Servidores Dedicados</a> </li>

              <li>  <a href="">Net4Email</a> </li>

              <li>  <a href="">VPS</a> </li>

          </ul>
      </li>

      <li> <a href="">Area Cliente</a> </li>


      <li> <a href="">Partnership</a> </li>


      <li> <a href="">Contáctenos</a> </li>

    </ul>
  </nav>
</header>
